
h1{
	text-align:center;
	color:brown;
	font-family:"Times New Roman", Times, serif;
	font-size:-200px;
}
body{
	  background-image: url("http://atgbcentral.com/data/out/60/4435003-books-wallpaper.jpg");
	 
	  }
.ulist{
	font-size : 50px;
	color:black;
	font-family: "Times New Roman", Times, serif;
	letter-spacing:3px;
	
	
}

table, th, td {
    border: 1px solid black;
	border-collapse: collapse;
	color:red;
	
	
}
th, td {
    padding: 15px;
}

